@mixin dis-flex($align-items, $just-content, $direction) {
    display: flex;
    justify-content: $just-content;
    align-items: $align-items;
    flex-direction: $direction;
}

@mixin font($size, $weight, $height) {
    font-size: $size;
    font-weight: $weight;
    line-height: $height;
}

@mixin position($position, $top: null, $right: null, $buttom: null, $left: null) {
    position: $position;
    top: $top;
    right: $right;
    bottom: $buttom;
    left: $left;
}