@import './variable';
@import './mixin';

body, .content {
    h1, h2, h3 { color: $grey-dark }
    h1 { @include font(48px, 600, 56px) }
    h2 { @include font(36px, 600, 42px) }
    h3 { @include font(24px, 600, 28px) }
    h4 { @include font(18px, 500, 22px) }
    .content-normal { @include font(15px, 400, 20px) }
    .content-small { @include font(13px, 400, 18px) }
    .content-medium { @include font(16px, 400, 28px) }
}
small { @include font(11px, 400, 13px) }
.card { border-radius: $radius }
.header {
    position: sticky;
    width: 100%;
    height: auto;
    z-index: 10;
    .columns { padding: 45px 0 }
    .close-menu { display: none }
    svg:hover {
        rect { fill: $grey-dark }
        circle { opacity: 1 }      
    }
    p {
        @include font(18px, 600, 23px);
        width: 255px;
        margin-left: 55px;
    }
    figure.image { @include dis-flex(center, flex-start, row) }
    .account-button {
        cursor: pointer;
        .account {
            @include dis-flex(center, space-between, row);
            background: rgba($grey-lightest, 0.2);
            padding-right: 20px;
            margin-left: -10px;            
            width: 190px;
            border-radius: 23px;
        }
    }
}
.slider {
    @include dis-flex(flex-start, space-between, row);
    background: rgba($green-bis, 0.5);
    position: relative;
    padding: 20px 70px 15px;
    border-radius: $radius-large;
    overflow: hidden;
    .slider-svg { 
        position: absolute;
        top: 0;
        left: 0;
    }
    .content {
        padding: 57px;
        width: 390px;
        p { margin: 20px 0 50px }
        .button {
            width: 180px;
            height: 40px;
            border-radius: 20px;
        }
    }
}
.explore {
    padding-bottom: 180px;
    .explore-header {
        margin-bottom: 80px;
        padding: 38px 0;
        background: linear-gradient(185deg, rgba($turquoise-bis, 0.2) 0%, rgba($turquoise, 0.2) 100%);
        select {
            @include font(24px, 600, 1.5);
            border: 2px dashed $grey-dark;
            background-color: inherit;
            border-radius: 6px;
            padding: 0 0 0 25px;
            height: auto;
        }
        .is-medium select {
            font-size: 36px;
            height: auto;
            padding: 0 48px 0 18px;
        }
        h1 {
            margin-right: 30px;
            padding-right: 20px;
        }
        h3 { margin-right: 10px;}
        .container {
            @include dis-flex(center, space-between, row);
            // opacity: 1;
        }
        .is-flex { align-items: center }
    }
    .menu {
        padding-left: 10px;
        font-size: 17px;
        .menu-label { margin-bottom: 10px }
    }
    .card {         
        figure { border-radius: 8px 0 0 8px }
        img {
            border-radius: inherit;
            height: 200px;
            width: 300px;
        }
        .card-content { 
            @include dis-flex(flex-start, space-between, column);
            padding: 22px 80px 21px 48px;
            a:last-child { margin-left: 40px }
        }
        .content div {
            @include dis-flex(center, flex-start, row);
            span:nth-child(2) { margin: 0 32px 0 17px }
            .is-tag { 
                border-radius: 6px;
                padding: 7px 16px;
                background-color: rgba($orange-bis, 0.5);
            }
        }
    }
}
.upcoming-courses {
    padding: 70px 0;
    .menu {
        padding-left: 5px;
        font-size: 17px;
        margin-bottom: 20px;
        .menu-label { margin-bottom: 10px }
    }
    .swiper-container {
        padding: 20px;
        margin-left: -20px;
    }
    .explore-all { padding-left: 35px }
    .card {
        &:hover {
            figure { background: $white }
            img { opacity: 1 }
        }
        figure { 
            background: $orange;
            border-radius: 8px 8px 0 0;
        }
        img {
            height: 180px;
            width: 320px;
            opacity: 0.5;
            border-radius: inherit;
        }
        .card-content {
            padding: 25px 24px 22px 27px;
            p { padding: 10px 0 25px }
        }
        .content div {
            @include dis-flex(center, space-between, row);
            .is-tag { 
                border-radius: 6px;
                padding: 7px 16px;
                background-color: rgba($orange-bis, 0.5);
            }
        }
    }
}
.tutors {
    .tutors-swiper {
        border-radius: $radius-large;
        padding: 20px;
        background: linear-gradient(194.04deg, rgba($cyan-bis, 0.1) 3.26%, rgba($cyan, 0.1) 100%);
    }
    .level-left { margin-left: 45px } 
    .level-right { margin-right: 30px }
    .card { background-color: inherit }
    .card-content {
        @include dis-flex(flex-start, space-evenly, column);
        margin-left: 23px;
    }
    .column:last-child { margin-top: 30px;}
    figure { border-radius: 24px }
    img { border-radius: inherit }
}
.get-started {
    @include dis-flex(center, flex-start, column);
    padding: 70px 0;
    .button {
        @include font(20px, 600, 22px);
        margin-top: 40px;
        width: 304px;
        height: 70px;
    }
}
.training-courses {
    h1 { padding: 35px 0 55px 0 }
    .training-courses-swiper { padding: 5px 5px 20px }
    .load-more-content {
        @include dis-flex(flex-start, center, row);
        padding: 65px 0 105px;
    }
    .load-more {
        @include font(17px, 600, 22px);
        height: 48px;
        width: 224px;
    }
    .card-image { 
        figure { border-radius: 8px 0 0 8px }
        img {
            opacity: 0.7;
            border-radius: inherit;
        }
    }
    .column { padding: 20px 0}
    .card-content {
        @include dis-flex(flex-start, space-between, column);
        padding: 21px 26px 23px 17px;
    }
}
.members {
    background-color: rgba($grey-lightest, 0.1);
    padding: 150px 0 100px;
    .members-swiper { padding: 0 5px }
    .card {
        .card-image {
            @include dis-flex(flex-start, center, row);
            figure {
                margin-top: -50px;
                border: 10px $grey-lightest solid; 
                border-radius: 100%;            
            }
        }
        .card-content {
            padding: 26 26 26 36;
            p {
                @include font(18px, 400, 28px);
                margin-bottom: 20px;
            }
        }
    }
}
.contact-us {
    padding-bottom: 190px;
    p { margin-bottom: 10px }
    h3 {
        margin-bottom: 17px;
        margin-top: 60px;
    }
    h1 { padding: 33px 0 }
    .map {
        position: relative;
        .map-item-1 {
            @include position(absolute, 150px, 0);
            height: 546px;
            width: 600px;
            border-radius: $radius;
            background: rgba($turquoise-ter, 0.25);;
        }
        .map-item-2 {
            @include position(absolute, 85px, -100px);
            height: 676px;
            width: 540px;
            background: rgba($cyan-ter, 0.5);
            border-radius: $radius;
        }
        .map-item-3 {
            @include position(absolute, 215px, 80px);
            height: 416px;
            width: 720px;
            iframe { border-radius: $radius }
        }
    }
}
#slide-menu {
    @include position(absolute, $left: -100%);
    width: 100%;
    height: 100vh;
    transition-duration: 0.5s;
    opacity: 0;
    .slide-menu {
        height: 100%;
        padding-top: 85px;
        a {
            color: $grey-dark;
            &:hover { color: $red }
        }
        li { margin-top: 10px }
    }
}