// Color

$orange:       #FFA26B !default;
$yellow:       #FFCF5C !default;
$green:        #00C48C !default;
$turquoise:    #19B89C !default;
$cyan:         #238FCC !default;
$blue:         #0084F4 !default;
// $purple:       hsl(271, 100%, 71%) !default
$red:          #FF647C !default;

$family-sans-serif: 'Inter', sans-serif;
// $primary: $turquoise !default;
$primary-light: #8CDBCD;
$primary-lighter: #C5EDE6;

// $info: $cyan !default;
// $success: $green !default;
// $warning: $yellow !default;
// $danger: $red !default;

$dimensions: 16 24 32 46 64 80 96 100 128 150 !default