// Color

$orange:       hsl(22, 100%, 71%,) !default;
$orange-bis:   hsl(22, 100%, 83%);
$orange-ter:   hsl(23, 100%, 93%);
$yellow:       #ffce5c !default;
$yellow-bis:   #FFE29D;
$yellow-ter:   #FFF8E7;
$green:        #00C48C !default;
$green-bis:    hsl(163, 60%, 68%);
$green-ter:    #7DDFC3;
$turquoise:    #19B89C !default;
$turquoise-bis:#8CDBCD;
$turquoise-ter:#C5EDE6;
$cyan:         #238FCC !default;
$cyan-bis:     #5AABD9;
$cyan-ter:     #C8E3F2;
$blue:         #0084F4 !default;
$blue-bis:     #66B5F8;
$blue-ter:     #D5E9FA;
$red:          #FF647C !default;
$red-bis:      #FDAFBB;
$red-ter:      #FBE4E8;

$black:        #07080E !default;
$black-bis:    #202126 !default;
$black-ter:    #45464A !default;

$grey-darker:  #1A2D45 !default;
$grey-dark:    #254063 !default;
$grey:         #516682 !default;
$grey-light:   #7C8CA1 !default;
$grey-lighter: #A8B3C1 !default;
$grey-lightest: #D3D9E0 !default;

$white-ter:    #CCCCCC !default;
$white-bis:    #F3F3F3 !default;
$white:        #FFFFFF !default;




// Typography

$family-sans-serif: 'Inter', sans-serif;
$body-color: $grey;


$dimensions: 16 24 32 46 64 80 96 100 128 150 !default;

// Miscellaneous

$radius-small: 4px !default;
$radius: 8px !default;
$radius-large: 16px !default;
// $radius-rounded: 290486px !default;